<mat-toolbar color="primary">
  <span>Catalogo Videogiochi</span>
  <span class="spacer"></span>

  @if (isLoggedIn) {
    <div class="toolbar-actions">
      <button mat-flat-button color="accent" (click)="open()">
        <mat-icon>add</mat-icon>
        Aggiungi Videogioco
      </button>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="'/login'">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item [routerLink]="'/register'">
        <mat-icon>person_add</mat-icon>
        <span>Registrati</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>


<div class="catalog-container">
  <div class="filters-container">
    <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
      <mat-form-field appearance="fill">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title" placeholder="Cerca per titolo">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prezzo massimo</mat-label>
        <input matInput type="number" formControlName="maxPrice" placeholder="Prezzo massimo">
      </mat-form-field>

<!--
      <mat-form-field appearance="fill">
        <mat-label>Rating medio</mat-label>
        <mat-select formControlName="averageRating" placeholder="Rating">
          <mat-option value="1">1 stella</mat-option>
          <mat-option value="2">2 stelle</mat-option>
          <mat-option value="3">3 stelle</mat-option>
          <mat-option value="4">4 stelle</mat-option>
          <mat-option value="5">5 stelle</mat-option>
        </mat-select>
      </mat-form-field>
       -->

      <mat-form-field appearance="fill">
        <mat-label>Data di rilascio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="releaseDate" placeholder="Seleziona una data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Piattaforme</mat-label>
        <mat-select formControlName="platforms" multiple>
          @for (platform of availablePlatforms; track $index) {
            <mat-option [value]="platform">
              {{ platform.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Genere</mat-label>
        <mat-select formControlName="platforms" multiple>
          @for (genre of selectGenres(); track $index) {
            <mat-option [value]="genre.name">
              {{ genre.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="filter-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="filterForm.invalid">Applica Filtri</button>
        <button mat-raised-button color="warn" type="button" (click)="resetFilters()">Resetta</button>
      </div>
    </form>
  </div>

  <mat-divider vertical class="custom-divider"></mat-divider>

  <div class="games-list">
    @if ( videogames_().length >0;) {
      @for (game of videogames_(); track game.idVideogame) {
        <mat-card class="game-card mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{ game.titleVideogame }}</mat-card-title>
            <br>
            <mat-card-subtitle><span><b>Prezzo:</b></span>{{ game.priceVideogame | currency:'EUR' }}</mat-card-subtitle>
            <mat-card-subtitle><span><b>Data di uscita:</b></span>{{game.releaseDateVideogame | date:'dd MM yyyy' }}</mat-card-subtitle>
          </mat-card-header>

              <mat-chip-listbox aria-label="Piattaforme" class="platform-chips">
            @for (platform of game.platforms; track $index){
                  <mat-chip color="primary" selected>
                    {{ platform.name }}
                  </mat-chip>
            }
                </mat-chip-listbox>



          <mat-card-content>
            <p>{{ game.descVideogame }}</p>


            @for (genre of game.genres; track genre.name) {
              <mat-chip class="genres" color="accent" selected>
                {{ genre.name }}
              </mat-chip>
            }

            <div class="rating">
              @for (star of [1, 2, 3, 4, 5]; track $index) {
                <mat-icon
                  color="warn"
                  (mouseenter)="hoveredRating[game.idVideogame] = $index + 1"
                  [class.disabled-icon]="!isLoggedIn"
                  (click)="isLoggedIn && rateGame(game.idVideogame, $index + 1)"
                >
                  {{ (hoveredRating[game.idVideogame] || game.rating) > $index ? 'star' : 'star_border' }}
                </mat-icon>
              }
            </div>




          </mat-card-content>
        </mat-card>
      }
    } @else {
      <div class="loading">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>
