 mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding: 0 16px;


  .game-title {
    margin-left: 8px;
  }

  button {
    color: white;
  }

  mat-icon {
    font-size: 24px;
  }
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 2rem;
  gap: 2rem;
}

.cover-card {
  max-width: 50%;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
}

.info-section {
  width: 100%;
  max-width: 800px;

  h2 {
    margin-bottom: 0.5rem;
    color: #3f51b5;
  }

  p {
    margin: 1.2rem 0; /* aumento della distanza tra paragrafi */
    font-size: 1.1rem;
  }

  mat-chip-list,
  mat-chip-listbox {
    margin-bottom: 1.5rem; /* maggiore spazio dopo le liste */
  }

  .rating {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin: 1rem 0; /* distanza verticale */
  }

  .screenshots {
    margin-top: 1.5rem;

    .screenshot-gallery {
      display: flex;
      gap: 1rem;
      flex-wrap: nowrap;
      overflow-x: auto;

      img {
        height: 120px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}

.loading {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

mat-chip.genres {
  margin: 2px;
  font-size: 11px;
  font-weight: 500;
  background-color: #d1eaff;
  color: #004d80;
  border-radius: 12px;
}

mat-icon {
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

mat-icon:hover {
  transform: scale(1.1);
}

.platform-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  padding-left: 16px;
}
